@charset "utf-8";
#all {
	position: absolute;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	background-attachment: fixed;
	background-image: url(../gphoto/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
